# Vim files
*~
*.swp
*.swo
*.swm
*.swn
*.swl

# Emacs files
\#*\#
.\#*
.tern*

# Mac Os
.DS_Store

# Compiled assets
build
out

# Dependency directory
node_modules
package-lock.json
# Users Environment Variables
.lock-wscript
.log